@font-face {
  font-family: "TT Norms Pro";
  font-weight: normal;
  font-style: normal;
  src: url(/assets/fonts/tt-norms-pro/TTNormsPro-Medium.woff);
}

@font-face {
  font-family: "TT Norms Pro";
  font-weight: bold;
  font-style: normal;
  src: url(/assets/fonts/tt-norms-pro/TTNormsPro-Bold.woff);
}

@font-face {
  font-family: "Kapra Neue";
  src: url(/assets/fonts/kapra-neue/KapraNeue-SemiboldItalic.woff2);
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
