@tailwind base;
@tailwind utilities;
@tailwind components;

@import "./fonts.css";
@import "./stripes.css";

.grid-12 {
  @apply grid-cols-12;
  @apply gap-0;
  @apply grid;
  @apply row-gap-3;
}

@screen sm {
  .grid-12 {
    @apply gap-3;
  }
}

.disclaimer::-webkit-scrollbar {
  width: 1em;
}

.disclaimer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.disclaimer::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}